@font-face {
    font-family: 'KorailRoundGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 중앙 정렬 */
body {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    font-family: 'KorailRoundGothicBold';
    font-weight: 200;
}

/* 구역 나누기 */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.section {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.text {
    width: 60%;
}

.image {
    width: 35%;
}

/* 홀수 항목 */
.section:nth-child(even) .text {
    order: 1;
}

.section:nth-child(even) .image {
    order: 2;
}

/* 짝수 항목 */
.section:nth-child(odd) .text {
    order: 2;
}

.section:nth-child(odd) .image {
    order: 1;
}

/* 이미지 크기 조정 */
img {
    max-width: 100%;
    height: auto;
}

/* 이미지 로딩 애니메이션 효과 */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* 이미지에 애니메이션 적용 */
.section:nth-child(2) .image img {
    animation: fadeIn 1s ease-in-out;
}
.section:nth-child(3) .image img {
    animation: fadeIn 2s ease-in-out;
}
.section:nth-child(4) .image img {
    animation: fadeIn 3s ease-in-out;
}
.section:nth-child(5) .image img {
    animation: fadeIn 4s ease-in-out;
}