<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body>
    <h2>EX01</h2>
    <div id="my_div">Good Morning</div>
    <input type="button" value="CLICK" id="change1-btn" />

    <br><hr><br>

    <h2>EX02</h2>
    <p>
        <input type="text" class="it" value="100" />
        <input type="button" value="DOUBLE" id="change2-btn">
    </p>


    <br><hr><br>

    <h2>EX03</h2>
    <table border="1">
        <tr>
            <td class="my_td">__</td>
            <td class="my_td">__</td>
            <td class="my_td">__</td>
            <td class="my_td">__</td>
            <td class="my_td">__</td>
            <td class="my_td">__</td>
        </tr>
        <tr>
            <td colspan="6"><input type="button" value="로또 생성하기" id="change3-btn" /></td>
        </tr>
    </table>

    <br><hr><br>

    <h2>EX04</h2>
    <table>
        <tr>
            <td><input type="number" name="" id="numberInput"></td>
            <td><button id="change4-btn">출력</button></td>
        </tr>
        <tr>
            <td colspan="2" id="result"></td>
        </tr>
    </table>

    <br><hr><br>


    <script>
        $(document).ready(function(){
           $("#change1-btn").click(function(){
              let myDiv = $("#my_div");
              if (myDiv.text() !== "Good Morning"){
                  myDiv.text("Good Morning");
              } else {
                  myDiv.text("Good Evening");
              }
           });
           $("#change2-btn").click(function(){
               let it = $(".it");
               let value = parseInt(it.val());
               it.val((value * 2).toString());
           });
           $("#change3-btn").click(function(){
               let numbers = [];
               let td = $(".my_td");

               // 1부터 45까지의 배열 생성
               for (let i = 0; i <= 45; i++) {
                   numbers.push(i);
               }

               // 배열을 랜덤하게 섞음
               for (let i = numbers.length - 1; i >= 0; i--) {
                   let j = Math.floor(Math.random() * (i+1));
                   [numbers[i], numbers[j]] = [numbers[j], numbers[i]];
               }

               // 첫 번째 6개의 번호를 td 요소에 적용
               for (let i = 0; i < 6; i++) {
                   $(td[i]).text(numbers[i]);
               }
           });
           $("#change4-btn").click(function(){
               let number = $("#numberInput");
               let resultDiv = $("#result");
               let num = parseInt(number.val());

               if (!isNaN(num)) {
                   // 입력된 숫자의 단 출력
                   let table = "<table>";
                   for (let i = 1; i <= 9; i++) {
                       table += "<tr><td>" + num + " x " + i + " = </td><td>" + (num * i) + "</td></tr>";
                   }
                   table += "</table>";

                   resultDiv.html(table);
               } else {
                   resultDiv.html("유효한 숫자 입력");
               }
           });
        }); // document.ready
    </script>
</body>
</html>